<!--
  Generated template for the UploadvideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="assets/imgs/logo.png" class="main-logo"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div style="text-align: center;">
		


	<h2>Receipt</h2>
	</div>
	<div>
		<ion-grid>
			<ion-row>
				<ion-col col-8 class="margin-auto">
					<div class="video-box">
						<img *ngIf="playVideo == undefined" src="https://via.placeholder.com/400x250" />
						<video *ngIf="playVideo != undefined" src="{{vidUrl + playVideo}}"  autobuffer autoloop loop controls style="width: 100%; height: 200px;"></video>
						<h3>Introduction Video</h3>
					</div>
				</ion-col>

				<ion-col col-12>
					<h3>How to Upload Video?</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</ion-col> 
			</ion-row>

			<ion-row>
				<ion-col col-12>
					<ion-item>
						<ion-label floating>Video Title:</ion-label>
						<ion-input type="text" [(ngModel)]="title"></ion-input>
					</ion-item>

					<ion-item>
						<ion-label floating>Video Description:</ion-label>
						<ion-input type="text" [(ngModel)]="description"></ion-input>
					</ion-item>

				</ion-col>
				<ion-col col-12>
					<button ion-button block (click)="addVideo(title, description)">Upload</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

</ion-content>
