<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="{{logo}}" class="main-logo"></ion-title>
  	 <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
      	 <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>




<ion-content padding>
	<div style="text-align: center;">
		<ion-grid>
			<ion-row class="nav-btn">
				<ion-col>
					<button ion-button block class="main-btn" (click)="toProfile()">Profile</button>
				</ion-col>
				<ion-col>
					<button ion-button block class="main-btn" (click)="toVideo()">Video</button>
				</ion-col>
				<ion-col>
					<button ion-button block class="main-btn" (click)="toTestimonial()">References</button>
				</ion-col>
				<ion-col>
					<button ion-button block class="main-btn" (click)="toHobbies()">Hobbies</button>
				</ion-col>

			</ion-row>
		</ion-grid>

		<h2 *ngIf="oldData != undefined">Welcome Back, {{oldData.first_name}}</h2>
	</div>

	<div>
		<ion-grid>
			<ion-row>
				<ion-col col-6 *ngFor="let tm of mydashboardData; let in = index;">
					<div class="select-box">
						<img *ngIf="tm.template_id == 1" src="assets/imgs/pdf1.jpeg">
						<img *ngIf="tm.template_id == 2" src="assets/imgs/pdf2.jpeg">
						<p>
							{{tm.temp_name}}
						</p>
						<p>
							<span class="span-add">
								<ion-icon name="checkmark" *ngIf="selectedTemp.id != tm.id" class="add-icon" (click)="selectTemp(tm.id, tm.template_id)"></ion-icon>
								<ion-icon name="close" *ngIf="selectedTemp.id == tm.id" class="add-icon" (click)="deSelectTemp()"></ion-icon>
							</span>
							<span class="span-close"><ion-icon name="close" class="close-icon" (click)="deleteMyTemplate(tm.id)"></ion-icon></span>
						</p>
					</div>
				</ion-col>
<!-- 				<ion-col col-6>
					<div class="select-box">
						<img src="https://via.placeholder.com/150x200">
						<p>Cork board</p>
						<p>
							<span class="span-add"><ion-icon name="checkmark" class="add-icon"></ion-icon></span>
							<span class="span-close"><ion-icon name="close" class="close-icon"></ion-icon></span>
						</p>
					</div>
				</ion-col> -->
			</ion-row>
		</ion-grid>
	</div>

</ion-content>

<ion-footer>
  <ion-toolbar style="text-align: center;">
    <button ion-button class="foot-btn" (click)="toOption()">Choose eDesign</button>
    <button ion-button class="foot-btn">eDesign</button>
  </ion-toolbar>
</ion-footer>
