<!--
  Generated template for the OptionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><img src="{{logo}}" class="main-logo"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div style="text-align: center;">
		<ion-grid>
			<ion-row class="nav-btn">
				<ion-col>
					<button ion-button block class="main-btn" (click)="toProfile()">Profile</button>
				</ion-col>
				<ion-col>
					<button ion-button block class="main-btn" (click)="toVideo()">Video</button>
				</ion-col>
				<ion-col>
					<button ion-button block class="main-btn" (click)="toTestimonital()">References</button>
				</ion-col>
				<ion-col>
					<button ion-button block class="main-btn" (click)="toHobbies()">Hobbies</button>
				</ion-col>
			</ion-row>
		</ion-grid>
    <h2>Select Template</h2>

  </div>
  <div>
		<ion-grid>
			<ion-row  class="opt-grid">
				<ion-col class="opt-box" *ngFor="let tm of mydashboardData; let in = index;">
            <h2>Cork Board</h2>
              <img *ngIf="in == 0" src="assets/imgs/pdf1.jpeg">
              <img *ngIf="in == 1" src="assets/imgs/pdf2.jpeg">
              <p>
                <ion-input type="text" placeholder="Enter Template Name" [(ngModel)]="tm.name"></ion-input>
              </p>
              <button ion-button class="foot-btn" *ngIf="selectedTemp.id != tm.id" (click)="selectTemp(tm.name, tm.id)">Select</button>
              <button ion-button class="foot-btn" *ngIf="selectedTemp.id == tm.id" >Selected</button>
        </ion-col>

  			<!-- 	<ion-col class="opt-box">
              <h2>Cork Board</h2>
              <img src="https://via.placeholder.com/200x250.png" />
              <button ion-button class="foot-btn">Save</button>
          </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <div>
		<ion-grid *ngIf="oldData != undefined">
      <ion-list>

      <ion-item>
        <ion-label><b>Email:</b> {{oldData.email}}</ion-label>
        <ion-checkbox [(ngModel)]="email"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label><b>Address 1:</b> {{oldData.address_1}}</ion-label>
        <ion-checkbox [(ngModel)]="address1"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label><b>Address 2:</b> {{oldData.address_2}}</ion-label>
        <ion-checkbox [(ngModel)]="address2"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label><b>Phone:</b> {{oldData.contact_no}}</ion-label>
        <ion-checkbox [(ngModel)]="myphone"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>{{oldData.facebook}}</ion-label>
        <ion-checkbox [(ngModel)]="fb"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>{{oldData.twitter}}</ion-label>
        <ion-checkbox [(ngModel)]="twitter"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>{{oldData.google_plus}}</ion-label>
        <ion-checkbox [(ngModel)]="google"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>{{oldData.linkedin}}</ion-label>
        <ion-checkbox [(ngModel)]="linkedin"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>{{oldData.pintrest}}</ion-label>
        <ion-checkbox [(ngModel)]="pin"></ion-checkbox>
      </ion-item>

      </ion-list>
    </ion-grid>
  </div>

<div style="text-align: center;">
  <button ion-button class="foot-btn" (click)="createTemplate(email, address1, myphone, fb, twitter, google, linkedin, pin)">SAVE</button>
</div>
</ion-content>



<ion-footer>
  <ion-toolbar style="text-align: center;">
    <button ion-button class="foot-btn actives">Choose e-Design</button>
    <button ion-button class="foot-btn">e-Design</button>
    <button ion-button class="foot-btn" (click)="toDashboard()">Dashboard</button>
  </ion-toolbar>
</ion-footer>
